body{
    background-color: #eaffce ;
    font-family: Arial, sans-serif;
}

ul {
    columns: 4;
    gap: 2rem;
    padding-left: 1rem;
}

a{
    color: blueviolet;
    size: 10px;
}

ul li{
    color: rgb(201, 63, 255);
    font-size: 18px;
    font: bold;
}

menu > li{
    color:darkblue; 
    font-size: 15px;
}

ol > li{
    color:darkred; 
    font-size: 15px;
}
.no_terminados{
    background-attachment: fixed;
    justify-items: right;
    background-color: #fdc791;
    border-radius: 10px;
    padding: 10px; 
}

.div_h{
    background-color: bisque;
    justify-content: center;
}

.links{
    background-color: #a8f1e2;
    border-radius: 50px;
    padding: 10px; 
    text-align: center;
}

.row > div {
    background-color: #f0f8ff; /* Color de fondo */
    border: 2px solid #000;   /* Borde negro */
    border-radius: 10px;      /* Bordes redondeados */
    padding: 20px;            /* Espaciado interno */
    text-align: center;       /* Centrar el texto */
    font-weight: bold;        /* Texto en negrita */
    height: 300px;
}